@use '../../scss/variables' as *;
@use '../../scss/' as *;

.movie-search {
    position: relative;
    display: flex;
    height: 100%;
    width: 50%;
    margin-left: -20px;
    background-color: $black;
    border: 1.5px solid transparent;
    border-radius: $border-radius;

    @include mobile {
        width: calc(380px - 4rem);
    }

    input {
        flex: 1;
        height: 100%;
        padding: 5px 45px 5px 15px;
        margin-left: 5px;
        margin-top: 2px;
        border: none;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: $main-color;
        background-color: transparent;
        font-family: var(--font-family);
    }
}

.clear {
    position: absolute;
    right: 10rem;
    top: 56%;
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
    transform: translateY(-50%);
}
