@use '../../scss/breakpoint' as *;

.movie-list {
    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                width: 15%;

                @include tablet {
                    .swiper-slide {
                        width: 30%;
                    }
                }

                @include mobile {
                    .swiper-slide {
                        width: 40%;
                    }
                }
            }
        }
    }
}
